@use './styles/root';
@use './styles/' as *;

body {
	background-color: var(--clr-neutral-blue-veryDark);
	font-family: var(--ff-primary-rubik);
	font-optical-sizing: auto;
	font-style: normal;

	main {
		min-height: 100vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.dashboard {
	padding: 5.0625rem 1.5rem;

	@media (min-width: 54.375em) {
		padding: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.cards {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 1.5rem;

		@media (min-width: 40em) {
			grid-template-columns: 1fr 1fr;
		}

		@media (min-width: 54.375em) {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 1.875rem;
		}

		@media (min-width: 73.375em) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		.user {
			max-width: 327px;
			background-color: var(--clr-neutral-blue-dark);
			border-radius: 15px;

			@media (min-width: 40em) {
				grid-column: 1 / 3;
			}

			@media (min-width: 54.375em) {
				grid-column: 1;
				grid-row: 1 / 4;
				max-height: 519px;
				max-width: 255px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			@media (min-width: 73.375em) {
				grid-row: 1 / 3;
			}

			.profile {
				padding: 2.1875rem 2rem 2.125rem;
				display: flex;
				align-items: center;
				gap: 1.25rem;
				background-color: var(--clr-primary-blue);
				border-radius: 15px;

				@media (min-width: 54.375em) {
					padding: 2.3125rem 2rem;
					height: 68.34%;
					flex-direction: column;
					align-items: flex-start;
					gap: 2.6875rem;
				}

				img {
					height: 64px;
					width: 64px;
					border: 3px solid var(--clr-neutral-white);
					border-radius: 100%;

					@media (min-width: 54.375em) {
						height: 78px;
						width: 78px;
						box-shadow: 0 4px 4px var(--clr-shadow-black);
					}
				}

				div {
					p {
						margin-bottom: 0.25rem;
						font-size: var(--fs-p-md);
						font-weight: var(--fw-regular);
						color: var(--clr-neutral-blue-pale);
					}

					h1 {
						font-size: var(--fs-h1-sm);
						font-weight: var(--fw-light);
						color: var(--clr-neutral-white);

						@media (min-width: 54.375em) {
							font-size: var(--fs-h1-lg);
						}
					}
				}
			}

			.tablist {
				padding: 1.5rem 0;
				display: flex;
				align-items: center;
				justify-content: space-evenly;

				&[role='tablist'] [aria-selected='true'] {
					color: var(--clr-neutral-white);
				}

				@media (min-width: 54.375em) {
					padding: 1.625rem 2rem 2rem;
					flex-direction: column;
					align-items: flex-start;
					gap: 1.3125rem;
				}

				.tab {
					font-size: var(--fs-li-md);
					font-weight: var(--fw-regular);
					text-decoration: none;
					color: var(--clr-neutral-blue-desat);

					&:hover,
					&:focus {
						color: var(--clr-neutral-white);
					}
				}
			}
		}

		.card {
			position: relative;
			padding-top: 2.375rem;
			width: 100%;
			max-width: 327px;
			border-radius: 15px;
			-webkit-mask-image: -webkit-radial-gradient(white, black);
			mask-image: -webkit-radial-gradient(white, black);

			@media (min-width: 54.375em) {
				padding-top: 2.8125rem;
				max-width: 255px;
			}

			.icon {
				position: absolute;
				right: 5.3272%;
				top: -6.8188%;
			}

			.content {
				position: relative;
				padding: 1.75rem 1.5rem;
				background-color: var(--clr-neutral-blue-dark);
				border-radius: 15px 15px 13px 13px;

				@media (min-width: 54.375em) {
					padding: 1.8125rem 1.875rem 2rem;
				}

				.category {
					margin-bottom: 0.375rem;
					display: flex;
					align-items: center;
					justify-content: space-between;

					@media (min-width: 54.375em) {
						margin-bottom: 1.5rem;
					}

					h2 {
						font-size: var(--fs-h2-md);
						font-weight: var(--fw-medium);
						line-height: 1.2223;
						color: var(--clr-neutral-white);
					}
				}

				.data {
					display: flex;
					align-items: center;
					justify-content: space-between;

					@media (min-width: 54.375em) {
						flex-direction: column;
						align-items: flex-start;
						gap: 0.5rem;
					}

					h3 {
						font-size: var(--fs-h3-sm);
						font-weight: var(--fw-light);
						line-height: 1.1875;
						color: var(--clr-neutral-white);

						@media (min-width: 54.375em) {
							font-size: var(--fs-h3-lg);
						}
					}

					p {
						font-size: var(--fs-p-md);
						font-weight: var(--fw-regular);
						color: var(--clr-neutral-blue-pale);
					}
				}
			}
		}
	}
}

#work {
	background-color: var(--clr-primary-red-light);
}

#play {
	background-color: var(--clr-primary-blue-light);
}

#study {
	background-color: var(--clr-primary-red);
}

#exercise {
	background-color: var(--clr-primary-green);
}

#social {
	background-color: var(--clr-primary-violet);
}

#selfCare {
	background-color: var(--clr-primary-orange);
}
