:root {
  /* Loop to declare color variables */
  --clr-primary-blue: hsl(246, 80%, 60%);
  --clr-primary-blue-light: hsl(195, 74%, 62%);
  --clr-primary-green: hsl(145, 58%, 55%);
  --clr-primary-orange: hsl(43, 84%, 65%);
  --clr-primary-red: hsl(348, 100%, 68%);
  --clr-primary-red-light: hsl(15, 100%, 70%);
  --clr-primary-violet: hsl(264, 64%, 52%);
  --clr-neutral-blue-veryDark: hsl(226, 43%, 10%);
  --clr-neutral-blue-dark: hsl(235, 46%, 20%);
  --clr-neutral-blue-desat: hsl(235, 45%, 61%);
  --clr-neutral-blue-pale: hsl(236, 100%, 87%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  /* Loop to declare font family variables */
  --ff-primary-rubik: 'Rubik', sans-serif;
  /* Loop to declare font size variables */
  --fs-h1-lg: 2.5rem;
  --fs-h1-sm: 1.5rem;
  --fs-h2-md: 1.125rem;
  --fs-h3-lg: 3.5rem;
  --fs-h3-sm: 2rem;
  --fs-p-md: 0.9375rem;
  --fs-li-md: 1.125rem;
  /* Loop to declare font weight variables */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove Default Spacing */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.2;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: var(--clr-neutral-blue-veryDark);
  font-family: var(--ff-primary-rubik);
  font-optical-sizing: auto;
  font-style: normal;
}
body main {
  min-height: 100vh;
  width: 100%;
}

.dashboard {
  padding: 5.0625rem 1.5rem;
}
.dashboard .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.dashboard .cards .user {
  background-color: var(--clr-neutral-blue-dark);
  border-radius: 15px;
}
.dashboard .cards .user .profile {
  padding: 2.1875rem 2rem 2.125rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  background-color: var(--clr-primary-blue);
  border-radius: 15px;
}
.dashboard .cards .user .profile img {
  height: 64px;
  width: 64px;
  border: 3px solid var(--clr-neutral-white);
  border-radius: 100%;
}
.dashboard .cards .user .profile div p {
  margin-bottom: 0.25rem;
  font-size: var(--fs-p-md);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-blue-pale);
}
.dashboard .cards .user .profile div h1 {
  font-size: var(--fs-h1-sm);
  font-weight: var(--fw-light);
  color: var(--clr-neutral-white);
}
.dashboard .cards .user .filters {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dashboard .cards .user .filters .filter {
  font-size: var(--fs-li-md);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-blue-desat);
}
.dashboard .cards .user .filters .active {
  color: var(--clr-neutral-white);
}
.dashboard .cards .card {
  position: relative;
  padding-top: 2.375rem;
  border-radius: 15px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
          mask-image: -webkit-radial-gradient(white, black);
}
.dashboard .cards .card .icon {
  position: absolute;
  right: 5.3272%;
  top: -6.8188%;
}
.dashboard .cards .card .content {
  position: relative;
  padding: 1.75rem 1.5rem;
  background-color: var(--clr-neutral-blue-dark);
  border-radius: 15px 15px 13px 13px;
}
.dashboard .cards .card .content .category {
  margin-bottom: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard .cards .card .content .category h2 {
  font-size: var(--fs-h2-md);
  font-weight: var(--fw-medium);
  line-height: 1.2223;
  color: var(--clr-neutral-white);
}
.dashboard .cards .card .content .data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard .cards .card .content .data h3 {
  font-size: var(--fs-h3-sm);
  font-weight: var(--fw-light);
  line-height: 1.1875;
  color: var(--clr-neutral-white);
}
.dashboard .cards .card .content .data p {
  font-size: var(--fs-p-md);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-blue-pale);
}

#work {
  background-color: var(--clr-primary-red-light);
}

#play {
  background-color: var(--clr-primary-blue-light);
}

#study {
  background-color: var(--clr-primary-red);
}

#exercise {
  background-color: var(--clr-primary-green);
}

#social {
  background-color: var(--clr-primary-violet);
}

#selfCare {
  background-color: var(--clr-primary-orange);
}/*# sourceMappingURL=styles.css.map */